:root {
    --primary: #FFB758;
    --white: #FFFAF3;
    --pink: #FFD49A;
    --orange-light: #ffbe67;
    --orange-dark: #FF9200;
    --black: #000;
    --font-main: 'Source Sans Pro', sans-serif;
    --font-bold: 'Pangolin', cursive;
}

* {
    box-sizing: border-box;
}

h2 {
    font-family: var(--font-bold);
}

h1 {
    font-family: var(--font-bold);
    font-size: 7rem;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 200px;
}

body {
    background-color: var(--pink);
    color: var(--black);
    font-family: var(--font-main);
    font-size: 1.5rem;
}


.header {
    background-color: var(--orange-light);
    display: block;
    min-height: 200px;
    padding-top: 70px;
    padding-bottom: 70px;
    letter-spacing: 0.5rem;
}

.navbar {
    background-color: var(--orange-dark);
    display: flex;
    justify-content: space-evenly;
    min-height: 100px;
    align-items: center;
    font-size: 1.7rem;
}

.navbar a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    color: var(--black);
    font-weight: bold;
}

a:hover {
    background-color: var(--pink);
}

.column-main {
    width: 75%;
    float: left;
    display: block;
    min-height: 500px;
    background-color: var(--pink);
}

.column-side {
    display: block;
    width: 25%;
    float: right;
    height: 100%;
    background-color: var(--orange-light);
    border-left: 2px dashed var(--orange-dark);
    border-right: 2px dashed var(--orange-dark);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-side-header {
    font-size: 3.5rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    margin-bottom: 0px;
}

.bee-image {
    max-width: 50%;
    max-height: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.side-column-text {
    text-align: center;
    padding: 30px 40px 60px 40px;
    line-height: 3rem;
}

.footer {
    background-color: var(--orange-dark);
    display: block;
    min-height: 110px;
}

.footer-header {
    font-family: var(--font-bold);
    font-size: 3rem;
    line-height: 157px;
}

.footer-column-left {
    width: 50%;
    display: block;
    float: left;
    background-color: var(--orange-dark);
    min-height: 150px;
    padding-left: 70px;
    padding-bottom: 70px;
    padding-top: 50px;
}

.footer-column-right {
    width: 50%;
    display: block;
    float: right;
    background-color: var(--orange-dark);
    min-height: 150px;
    padding-bottom: 70px;
    padding-top: 50px;
}

.footer-text {
    font-size: 1.7rem;
    margin-bottom: 0px;
    padding-top: 30px;
}

.sm-box {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 50px;
    float: right;
    display: inline;
}

.footer-find-us {
    display: inline;
    font-family: var(--font-bold);
    font-size: 3rem;
    line-height: 150px;
}

.fa {
    font-size: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.clearfix::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.page {
    width: 75%;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 100px;
}

.page h1 {
    font-size: 3rem;
    padding-top: 0px;
}

.page-header {
    display: block;
    font-size: 2rem;
    text-align: center;
    margin-top: 0px;
    padding-top: 0px;
    font-family: var(--font-bold);
    margin-bottom: 30px;
}

.page p {
    padding: 0px 100px 70px 100px;
    text-align: justify;
    display: block;
    margin-top: 0px;
    margin-bottom: 0px;
}

.shop-image {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
    padding-top: 20px;
    margin-bottom: 30px;
    border-radius: 50px;
}
